In [1]:
import sympy as sp

X, Y = sp.symbols('X Y')
expr = X + X * Y / X
simplified_expr = sp.simplify(expr)
print("Simplified expression: ", simplified_expr)

Simplified expression:  X + Y

In [2]:
import sympy as sp

A = sp.Matrix([[1, 2], [3, 4]])
A_squared = A ** 2
print("A^2: ", A_squared)

A^2:  Matrix([[7, 10], [15, 22]])

In [3]:
import sympy as sp

x = sp.Symbol('x')
expr = x ** 4 - 1
solutions = sp.solve(expr, x)
print("Solutions: ", solutions)

Solutions:  [-1, 1, -I, I]

In [6]:
from pyDatalog import pyDatalog

# Create facts for the given data
pyDatalog.create_atoms('student, name, mark')
+ student('Ram', 90)
+ student('Raju', 45)
+ student('Priya', 85)
+ student('Carol', 70)
+ student('Shyam', 80)

# Define a rule for passing marks
pyDatalog.create_atoms('passm')
passm(mark) <= (mark > 50)

# Define rules for grade letters
pyDatalog.create_atoms('grade')
grade(mark, 'A') <= (mark >= 90)
grade(mark, 'B') <= ((mark >= 70) & (mark < 90))
grade(mark, 'C') <= ((mark >= 50) & (mark < 70))
grade(mark, 'F') <= (mark < 50)

# Query for printing all students' name and marks
print(student(name, mark))

# Query for finding who scored 80 marks
print(student(name, 80))

# Query for finding Priya's mark
print(student('Priya', mark))

# Query for finding all students who failed
#print(student(name, mark).where(~passm(mark)))

# Query for finding the grade letter of a given mark
#print(grade(70, grade_letter))

[]
[]
[]

In [7]:
import threading

def print_even(n):
    for i in range(2, n+1, 2):
        print(i)

def print_divisible_by_3_and_5(n):
    for i in range(1, n+1):
        if i % 3 == 0 and i % 5 == 0:
            print(i)

n = int(input("Enter the value of n: "))
t1 = threading.Thread(target=print_even, args=(n,))
t2 = threading.Thread(target=print_divisible_by_3_and_5, args=(n,))

t1.start()
t2.start()

t1.join()
t2.join()

print("Done!")

Enter the value of n: 9
2
4
6
8
Done!

In [8]:
while True:
    num = int(input("Enter a number between 0 and 1000: "))
    if num >= 0 and num <= 1000:
        break
    else:
        print("Invalid number. Please enter a number between 0 and 1000.")

sum = 0
for digit in str(num):
    sum += int(digit)

print("The sum of the digits in the number is:", sum)

Enter a number between 0 and 1000: 500
The sum of the digits in the number is: 5

In [9]:
import sqlite3

# Create a connection to the database
conn = sqlite3.connect('movies.db')

# Create a cursor object to execute queries
c = conn.cursor()

# Create the movie table if it doesn't exist
c.execute('''CREATE TABLE IF NOT EXISTS movie (
                Movie_ID INTEGER PRIMARY KEY,
                Movie_Name TEXT,
                Genre TEXT,
                Language TEXT,
                Rating REAL
            )''')

# Insert sample data into the movie table
c.execute("INSERT INTO movie VALUES (101, 'The Godfather', 'Crime, Drama', 'English', 9.2)")
c.execute("INSERT INTO movie VALUES (102, 'The Shawshank Redemption', 'Drama', 'English', 9.3)")
c.execute("INSERT INTO movie VALUES (103, 'The Dark Knight', 'Action, Crime, Drama', 'English', 9.0)")
c.execute("INSERT INTO movie VALUES (104, 'Pulp Fiction', 'Crime, Drama', 'English', 8.9)")
c.execute("INSERT INTO movie VALUES (105, 'Forrest Gump', 'Drama, Romance', 'English', 8.8)")

# Update movie ratings by 10%
c.execute("UPDATE movie SET Rating = Rating * 1.1")

# Delete movie with movie_id 102
c.execute("DELETE FROM movie WHERE Movie_ID = 102")

# Select movies whose rating is more than 3
c.execute("SELECT * FROM movie WHERE Rating > 3")

# Print the result of the query
print(c.fetchall())

# Commit changes and close the connection
conn.commit()
conn.close()

[(101, 'The Godfather', 'Crime, Drama', 'English', 10.12), (103, 'The Dark Knight', 'Action, Crime, Drama', 'English', 9.9), (104, 'Pulp Fiction', 'Crime, Drama', 'English', 9.790000000000001), (105, 'Forrest Gump', 'Drama, Romance', 'English', 9.680000000000001)]

In [10]:
# marks of the students in 5 different subjects
marks = [
    ['Ram', 90, 75, 80, 60, 85],
    ['Raju', 45, 50, 30, 55, 40],
    ['Priya', 85, 90, 75, 80, 95],
    ['Carol', 70, 80, 65, 55, 75],
    ['Shyam', 80, 70, 75, 85, 90]
]

# function to check if a student failed in one or more subjects
def has_failed(m):
    return any(mark < 50 for mark in m[1:])

# filter the students who failed in one or more subjects
failed_students = list(filter(has_failed, marks))

# print the list of failed students
print("List of students who failed in one or more subjects:")
for student in failed_students:
    print(student[0])

List of students who failed in one or more subjects:
Raju

In [11]:
class Employee:
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary

class Manager(Employee):
    def __init__(self, name, salary, department):
        super().__init__(name, salary)
        self.department = department
    
    def __str__(self):
        return f"Manager Name: {self.name}, Department: {self.department}, Salary: {self.salary}"
        
class Executive(Manager):
    def __str__(self):
        return f"Executive {super().__str__()}"
        
# Test Program
manager1 = Manager("John", 50000, "Marketing")
print(manager1)

executive1 = Executive("Alice", 80000, "Finance")
print(executive1)

Manager Name: John, Department: Marketing, Salary: 50000
Executive Manager Name: Alice, Department: Finance, Salary: 80000

In [17]:
pip install pyDatalog

Requirement already satisfied: pyDatalog in c:\users\xrish\anaconda3\lib\site-packages (0.17.4)
Note: you may need to restart the kernel to use updated packages.

In [1]:
from pyDatalog import pyDatalog

pyDatalog.create_terms('father, brother, cousin, grandson, descendent, X, Y, Z, Z1, Z2')

# define the facts
+father('a', 'b')
+father('a', 'c')
+father('b', 'd')
+father('b', 'e')
+father('c', 'f')

# define the brother predicate
brother(X, Y) <= (father(Z, X) & father(Z, Y) & (X != Y))

# define the cousin predicate
cousin(X, Y) <= (father(Z1, X) & father(Z2, Y) & brother(Z1, Z2))

# define the grandson predicate
grandson(X, Y) <= (father(Y, Z) & father(Z, X))

# define the descendent predicate
descendent(X, Y) <= (father(Y, X))
descendent(X, Y) <= (father(Z, X) & descendent(Z, Y))

print(brother(X, Y))

print(cousin(X, Y))

X | Y
--|--
e | d
d | e
c | b
b | c
X | Y
--|--
f | e
f | d
d | f
e | f

In [2]:
tuition = 10000
rate = 0.05

# compute tuition in ten years
for i in range(10):
    tuition += tuition * rate

print(f"The tuition in ten years will be: ${tuition:.2f}")

# compute total cost of four years' tuition starting in ten years
total_cost = 0
for i in range(10, 14):
    year_cost = tuition * (1 + rate)**(i - 10)
    total_cost += year_cost

print(f"The total cost of four years' tuition starting ten years from now will be: ${total_cost:.2f}")

The tuition in ten years will be: $16288.95
The total cost of four years' tuition starting ten years from now will be: $70207.39

In [3]:
class Customer:
    def __init__(self, name, address):
        self.name = name
        self.address = address
        
class Bank:
    def __init__(self, customers):
        self.customers = customers
        
    def find_nearby_customers(self, pincode, name=None):
        nearby_customers = []
        for customer in self.customers:
            if customer.address['pincode'] == pincode:
                if name is None:
                    nearby_customers.append(customer.name)
                elif customer.name != name:
                    nearby_customers.append(customer.name)
        return nearby_customers

# Example usage
customers = [Customer('John', {'street': '123 Main St', 'city': 'New York', 'state': 'NY', 'pincode': '10001'}), 
             Customer('Mary', {'street': '456 Oak St', 'city': 'New York', 'state': 'NY', 'pincode': '10001'}),
             Customer('Bob', {'street': '789 Elm St', 'city': 'Los Angeles', 'state': 'CA', 'pincode': '90001'})]
             
bank = Bank(customers)

# Find nearby customers with pincode '10001'
nearby_customers = bank.find_nearby_customers('10001')
print("Customers living nearby with pincode '10001': ", nearby_customers)

# Find nearby customers with pincode '10001' and name 'John'
nearby_customers = bank.find_nearby_customers('10001', 'John')
print("Customers living nearby with pincode '10001' and name 'John': ", nearby_customers)

Customers living nearby with pincode '10001':  ['John', 'Mary']
Customers living nearby with pincode '10001' and name 'John':  ['Mary']

In [5]:
import sqlite3

# create a connection to the database
conn = sqlite3.connect('employees.db')

# create a cursor object
c = conn.cursor()

# create the employees table
c.execute('''CREATE TABLE employees (
                employee_id INTEGER PRIMARY KEY,
                first_name TEXT,
                last_name TEXT,
                email TEXT,
                phone_number TEXT,
                hire_date TEXT,
                job_id TEXT,
                salary REAL,
                commission REAL,
                manager_id INTEGER,
                department_id INTEGER
            )''')

# insert values into the employees table
c.execute('''INSERT INTO employees (employee_id, first_name, last_name, email, phone_number, hire_date, job_id, salary, commission, manager_id, department_id)
                VALUES 
                (1, 'John', 'Doe', 'johndoe@example.com', '123-456-7890', '2022-05-20', 'IT_PROG', 50000, NULL, 2, 10),
                (2, 'Jane', 'Smith', 'janesmith@example.com', '234-567-8901', '2022-05-20', 'IT_PROG', 60000, NULL, 2, 20),
                (3, 'Bob', 'Johnson', 'bobjohnson@example.com', '345-678-9012', '2022-05-20', 'SA_MAN', 75000, 15000, 2, 30)''')

# commit the changes to the database
conn.commit()

# close the connection to the database
conn.close()

In [6]:
import sqlite3

# create a connection to the database
conn = sqlite3.connect('employees.db')

# create a cursor object
c = conn.cursor()

# execute the query
c.execute('''SELECT first_name, last_name
               FROM employees
               WHERE salary > 25000''')

# fetch the results
results = c.fetchall()

# print the results
for result in results:
  print(result)

# close the connection to the database
conn.close()

('John', 'Doe')
('Jane', 'Smith')
('Bob', 'Johnson')

In [7]:
import functools

# Define the two trending topics
topics = ["topic1", "topic2"]

# Get the tweets
tweets = [
  "This is a tweet about topic1",
  "This is another tweet about topic1",
  "This is a tweet about topic2",
  "This is another tweet about topic2",
]

# Count the number of tweets that contain each topic
tweet_counts = {topic: len(list(filter(lambda tweet: topic in tweet, tweets))) for topic in topics}

# Print the results
for topic, count in tweet_counts.items():
  print(f"{topic}: {count}")

topic1: 2
topic2: 2

In [9]:
from tkinter import *

root = Tk(className='registration form')

first_name=Label(root, text="Name",bg="green", fg="black").grid(row=1)
myTitle=Label(root, text="Form",bg="green",fg="black")
myTitle.grid(row=0,column=1)
e=Entry(root, width=35, borderwidth=5)
e.grid(row=1, column=1, padx=10, pady=10)

course_name=Label(root, text="Course",bg="green",fg="black").grid(row=2)
f=Entry(root, width=35, borderwidth=5)
f.grid(row=2, column=1, padx=10, pady=10)

Semester_name=Label(root, text="Semester",bg="green",fg="black").grid(row=3)
g=Entry(root, width=35, borderwidth=5)
g.grid(row=3, column=1, padx=10, pady=10)

form_name=Label(root, text="Form No.",bg="green",fg="black").grid(row=4)
h=Entry(root, width=35, borderwidth=5)
h.grid(row=4, column=1, padx=10, pady=10)

contact_name=Label(root, text="Contact No.",bg="green",fg="black").grid(row=5)
i=Entry(root, width=35, borderwidth=5)
i.grid(row=5, column=1, padx=10, pady=10)

email_name=Label(root, text="Email id",bg="green",fg="black").grid(row=6)
j=Entry(root, width=35, borderwidth=5)
j.grid(row=6, column=1, padx=10, pady=10)

addr_name=Label(root, text="Address",bg="green",fg="black").grid(row=7)
k=Entry(root, width=35, borderwidth=5)
k.grid(row=7, column=1, padx=10, pady=10)

button_sub= Button(root, text="Submit",bg="red",fg="black")
button_sub.grid(row=8, column=1)

root.configure(bg='Green')
root.mainloop()

In [10]:
from tkinter import *
from tkinter import ttk
window = Tk()
window.title("Address Entry Form")
window.geometry("300x225")
window.configure(background="grey");
a = Label(window,text ="First Name:").grid(row=0,column=0)
b = Label(window,text ="Last Name:").grid(row=1,column=0)
c = Label(window,text ="Address Line 1:").grid(row=2,column=0)
d = Label(window,text ="Address Line 2:").grid(row=3,column=0)
e = Label(window,text ="City:").grid(row=4,column=0)
f = Label(window,text ="State\Province:").grid(row=5,column=0)
g = Label(window,text ="Postal Code:").grid(row=6,column=0)
h = Label(window,text ="Country:").grid(row=7,column=0)
a1 = Entry(window,width=50).grid(row=0,column=1)
b1 = Entry(window,width=50).grid(row=1,column=1)
c1 = Entry(window,width=50).grid(row=2,column=1)
d1 = Entry(window,width=50).grid(row=3,column=1)
e1 = Entry(window,width=50).grid(row=4,column=1)
f1 = Entry(window,width=50).grid(row=5,column=1)
g1 = Entry(window,width=50).grid(row=6,column=1)
h1 = Entry(window,width=50).grid(row=7,column=1)
def clear_text():
  a1.delete(0,END)
  b1.delete(0,END)
  c1.delete(0,END)
  d1.delete(0,END)
  e1.delete(0,END)
  f1.delete(0,END)
  g1.delete(0,END)
  h1.delete(0,END)
Sub = ttk.Button(window, text="Submit").grid(row=8,column=0)
Clr = ttk.Button(window, text="Clear", command = clear_text).grid(row=8,column=1)
window.mainloop()

In [11]:
pip install nbtconvert

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement nbtconvert (from versions: none)
ERROR: No matching distribution found for nbtconvert